# SQL exercises

This Jupyter Notebook aims at practising some of the SQL learnt, and explore about other existing functions!

First step is to connect to the database where the data is stored. 

**Let's get started!**

## Settings

There are multiple Python packages to connect with PostgreSQL databases. 


#### SQLalchemy
In this case, we will be using _SQLalchemy_, but just to connect to the database. SQLalchemy provides many more options! Take a look [here](https://www.sqlalchemy.org/).

#### psycopg2
You can also try _psycopg2_ which is easy and direct to use. Further reading [here](https://pypi.org/project/psycopg2/).

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

You have 2 options:
1. Install PostgreSQL and set up a local database in your computer!
2. Used an already set-up database. For that, you will need some credentials!

In [ ]:
# Credentials to connect to DB 
# (this should not be placed inside the code, but in a configuration file!)
host = 'localhost'
port = ...
user = ...
password = ...
database = ...

In [ ]:
# Connection to DB
database_uri = 'postgresql://{}:{}@{}:{}/{}'.format(user, password, host, port, database)
con = create_engine(database_uri).connect()

## Let's practice!

### Before calçotada

#### People and food organization!

In order to organise the *calçotada*, we need to get some work done in advance: get a clear list of attendees and buy food, accordingly.

**1. First things, first. Can we have a complete list of the names of all attendees?**

In [ ]:
# Define query
query = """

"""

In [ ]:
# Fetch data directly with Pandas
df = pd.read_sql_query(query, con)

In [ ]:
df.head()

**2. And, what if we want the names but in reverse order? (from Z to A)**

In [ ]:
# Define query
query = """

"""

In [ ]:
# Fetch data directly with Pandas
pd.read_sql_query(query, con)

**3. So, how many people do we have to count for the food?**

In [ ]:
# Define query
query = """

"""

In [ ]:
# Fetch data directly with Pandas
pd.read_sql_query(query, con)

#### Music!

Before the _calçotada_ starts, there is always a big issue: **music**. That's why a column *fav_music_gndr* was added to choose that music among people's preferences which is more socially accepted in this group.

Let's first check how the table *people* looks like now.

In [ ]:
# Define query
query = """

"""

In [ ]:
# Fetch data directly with Pandas
pd.read_sql_query(query, con)

**4. Does everyone have chosen their favourite music gender?**

In [ ]:
# Define query
query = """

"""

In [ ]:
# Fetch data directly with Pandas
pd.read_sql_query(query, con)

**5. In order to have some songs from each style, check which genders of music were chosen as favourite (deleting null values, if they exist).**

In [ ]:
# Define query
query = """

"""

In [ ]:
# Fetch data directly with Pandas
pd.read_sql_query(query, con)

**6. Let's see which styles are predominant. Count the number of followers for each music gender and order them to place the most popular ones on top.**

In [ ]:
query = """

"""

In [ ]:
# Fetch data directly with Pandas
pd.read_sql_query(query, con)

**7. Apparently, there were some people whose names started with "Ma". Just as a curious thing, which are their favourite music genders?**

Hint: *You may want to look for SUBSTRING or LEFT functions, or LIKE*

In [ ]:
query = """

"""

**NOTE!** This was giving an error next week! As said before, thanks Stackoverflow!!! 

https://stackoverflow.com/questions/8657508/strange-sqlalchemy-error-message-typeerror-dict-object-does-not-support-inde

In [ ]:
query = """
    select *
    from people
    where name like 'Ma%%'
"""

In [ ]:
# Fetch data directly with Pandas
pd.read_sql_query(query, con)

*(Session 2)* **8. To create a fair playlist of 200 songs (enough for at least 12 hours), calculate how many songs per music gender we need (maintaining the same distribution as people's preferences).**

In [ ]:
query = """

"""

In [ ]:
pd.read_sql_query(query, con)

In [ ]:
query = """

"""

In [ ]:
# Fetch data directly with Pandas
df = pd.read_sql_query(query, con)

In [ ]:
df.columns

In [ ]:
sum(df.n_songs)

*(Session 2)* **9. Since reggaeton is always controversial in a party, let's see if there is a majority of people whose favourite style is not _reggaeton_.**

Hint: _Check how does CASE WHEN works!_

In [ ]:
query = """

"""

In [ ]:
# Fetch data directly with Pandas
pd.read_sql_query(query, con)

### After calçotada

Once the _calçotada_ is over, it's time to **settle up expenses**. In this case, let's imagine I paid for everything (which I did not because we are such a nice group that everyone was in charge of sth) and we created a *debt_balance* column with the amount of money each person owes me.

In [ ]:
query = """
    select * 
    from people 
    limit 5
"""

In [ ]:
# Fetch data directly with Pandas
pd.read_sql_query(query, con)

**10. Which is the total amount that I have to be paid back?**

In [ ]:
query = """

"""

In [ ]:
# Fetch data directly with Pandas
pd.read_sql_query(query, con)

**11. Which are the maximum, minimum and average (non-zero) amounts owed?**

*Remember that the quantities are negative!*

In [ ]:
query = """

"""

In [ ]:
# Fetch data directly with Pandas
pd.read_sql_query(query, con)

*(Session 2)* **12. Which is the neighborhood owing more money (as an absolute quantity)?**

In [ ]:
query = """

"""

In [ ]:
# Fetch data directly with Pandas
pd.read_sql_query(query, con)

*(Session 2)* **13. And from a debt per person (€/pers) perspective, which is the neighborhood I should send the debt collectors (*cobradors del frac*) first?**

In [ ]:
query = """

"""

In [ ]:
# Fetch data directly with Pandas
pd.read_sql_query(query, con)

*(Session 2)* **14. And, by profession, which is the job most defaulter?**

Take into account that if we just take into account the total amount, it is very probable that mathematicians are the ones owing more money just because we were more. Calculate the debt by person, too.

In [ ]:
query = """

"""

In [ ]:
# Fetch data directly with Pandas
pd.read_sql_query(query, con)

### Time to leave! :(

Now that I know after who I have to go first to get back the money, it's already time to go back home after a complete day full with *calçots*, good music and great company, so I better find a good spot on a car. But wait...!

**15. Could you discover who is my flatmate so that we can go back together in the same car? Thanks a lot!**

In [ ]:
query = """

"""

In [ ]:
# Fetch data directly with Pandas
pd.read_sql_query(query, con)

**Super well done and thanks for your time and interest!!!**

If you want to practice more PostreSQL exercises, take a look here: https://pgexercises.com/!

Once finished, it's polite to close the connection to the DB! Too many open connections may cause some trouble in accessing the database, as well as some anger among infrastructure and systems developers!

In [ ]:
# Close connection
con.close()